

  <nav class="navbar navbar-inverse navbar-fixed-bottom flex-container">   
    <div class="d">
      <img src="Assets/images/logoblue.png"  width="25" alt="...">
      <h5 class="navbar-text">Andy Navarro Zagarra</h5> 
    </div> 
    <div class="c"><p class="display-7 navbar-text footbar"> &copy; Copyright 2021. All Rights reserved.</p> </div>
    
  </nav>







<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
